@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Molle:ital@1&family=Roboto&display=swap');


:root{
    --boxShaodw: -13px 13px 26px rgba(181, 181, 181, 0.2), 13px -13px 26px rgba(181, 181, 181, 0.2), -13px -13px 26px rgba(255, 255, 255, 0.9), 13px 13px 33px rgba(181, 181, 181, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(181, 181, 181, 0.5);
    --DarkboxShaodw: -13px 13px 26px rgba(0, 0, 0, 0.2), 13px -13px 26px rgba(17, 17, 17, 0.2), -13px -13px 26px rgba(34, 33, 33, 0.9), 13px 13px 33px rgba(54, 54, 54, 0.9), inset 1px 1px 2px rgba(5, 5, 5, 0.3), inset -1px -1px 2px rgba(31, 30, 30, 0.5);
    
    --redPurple:  linear-gradient(234.55deg, #FF0C37 7.58%, #E60FF9 95.02%);
    --purpleBlue: linear-gradient(234.55deg, #EC0CFF 7.58%, #472AFA 95.02%);
    --blueLight: linear-gradient(45deg, #472AFA 7.58%, #0ED4E0 95.02%);
    --webBlue:  -webkit-linear-gradient(234.55deg, #472AFA 7.58%, #0ED4E0 95.02%);
    --whiteBg: hsl(0, 0%, 100%);
    --DarkBlueBG:hsl(230, 17%, 14%);
    --CardBG: hsl(224deg 86% 8%);
    --whiteText:hsl(0, 0%, 100%);
    --toggleBG:hsl(230, 22%, 74%);
    --cardDark: #041030;
    --bgDark: #051746;
    --toggleBtnBg: #344E5D;
    --whiteCircle: #F6F6F6;
    --nightBtn: #F1EB75;
    --greyText: #6d6c6c;
    --quote: #D5D5D5;
    --topBg: #041030;
    --brightGrey:hsl(228, 34%, 66%);


}

/* font-family: 'Dosis', sans-serif; */
*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--greyText);
}
main{
    padding:1rem 2.5rem;
}
main h1{
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;

}


/* mode  */
.toggle-btn{
    width: 42px;
    height: 20px;
    background: var(--toggleBG);
    border-radius: 30px;
    padding: 1px;
    position: relative;
    margin-right: 4px;
        cursor: pointer;
}


.white-circle{
    position: absolute;
    right: 2px;
    top: 1px;
    width: 18px;
    height: 90%;
    border-radius: 50%;
    background: var(--whiteBg);
}
.dark-mode{
    display: flex;
    place-items: center;
    margin: 6px 0;
}
.mode-text{
    display: flex;
    place-items: center;
    justify-content: flex-end;
    width: 100%;
}


main h1 span{
    font-family: 'Molle', cursive;
    font-size:35px;
    margin-right: 1px;
    background: var(--webBlue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--bgDark);

}
.wish{
    text-align:center;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    margin: 1rem;
    font-size: 20px;
    letter-spacing: 1px;
}
.card-sect{
    /* margin: 4rem 0; */
    display: flex;
    place-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    margin: 4rem 0;
    color:var(--greyText);
    width:300px;
    height:max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
    background: white;
    padding-top: 2.5rem;
    margin-bottom: 1rem;
}
.card::before{
    content: "";
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    background: var(--redPurple);
    border-radius: 5px;
    z-index: -2;
}
.card:nth-child(2)::before{
    background: var(--purpleBlue);
}
.card:nth-child(3)::before{
background: var(--webBlue);
}
.card:nth-child(4)::before{
    background: var(--blueLight);
}
.user-fig{
    width: max-content;
    height: max-content;
    background: var(--greyText);
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    top: -17%;
}
.has{
    padding: 0;
}
.user-text p{
    padding: 0 10px;
}
.fig-right{
    text-align: right;
    margin-block-start: -0.5rem;
}
.user{
    width: 70px;
    height: 70px;
}
.image{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    box-shadow: var(--boxShaodw);
    object-fit: cover;
}
.user-text{
    line-height: 1.4;
}

.quoteSvg{
    width:50px;
    height:60px;
}
.username{
    font-family: 'Dosis', sans-serif;
    text-align: right;
    align-self: flex-end;
    margin: 10px 0;
}
.socials{
    display:flex;
    justify-content: space-around;
    place-items: center;
    width: 100%
}
.social-icon{
    width:30px;
    height:30px;
}
footer{
    font-family: 'Dosis',sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
footer a{
    text-decoration: none;
    color: #1c92e6;
    font-style: italic;
}

@media screen and (max-width:400px){
    *{
        font-size: 16px;
    }
    main{
        padding: 1rem;
    }
main h1{
    font-size: 25px;
}
.user {
    width: 50px;
    height: 50px;
}
.quoteSvg {
    width: 40px;
    height: 40px;
}
.user-fig{
    top: -13%;
    padding: 15px;
}
.has{
    padding: 0;
}
.image{
    width: 90px;
    height: 90px;
}
}


/* dark mode class features */
.green{
    background: linear-gradient(90deg,hsl(210, 78%, 56%),hsl(146, 68%, 55%));
}
.dark{
    background: var(--topBg);
}
.move{
    right: unset;
    left: 2px;
    /* transition: .4s all; */
    /* background: var(--nightBtn); */
}

.card-dark{
    background: var(--CardBG);
}
.white{
    color:var(--whiteText);
    /* font-weight: 600; */
}
.image-dark{
    box-shadow: none;
}

.brightGrey{
    color: var(--brightGrey);
}
